os: Visual Studio 2015

environment:
  matrix:
    - nodejs_version: 7
    - nodejs_version: 8
    
platform:
  - x64
  
shallow_clone: true

install:
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - ps: Set-ExecutionPolicy Unrestricted -Scope CurrentUser -Force
  - npm config get
  
  - npm install node-gyp -g
  - npm install npm -g
  - node --version
  - npm --version
  - node -e "console.log(process.arch);"
  - IF /I "%PLATFORM%" == "x64" set PATH=C:\Python27-x64;%PATH%
  - npm install
  - npm run package
  - npm test

build: off
test: off
deploy: off